<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<iframe id="booking-frame" src="{{website_data.public_booking_url}}" frameborder=0 name='booking-frame'></iframe>
