<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
{% if page.website_page_photos.size > 0 %}
  <div class="container content-zone about_page">
    <div class="row">
      <div class="col-md-7">
        {{ page.content }}
      </div>
      <div class="col-md-5">
        {% for photo in page.website_page_photos %}
          <img src="{{ photo.image | attachment_url: 'public_big' }}" class="about-photo" />
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="container content-zone">
    {{ page.content }}
  </div>
{% endif %}
