<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<div class="container content-zone">
  <h1> {{ page.title }} </h1>
  <div class="my-gallery" itemscope="true" itemtype="http://schema.org/ImageGallery">
    {% for photo in website_data.gallery_photos %}
      <figure itemprop="associatedMedia" itemscope="true" itemtype="http://schema.org/ImageObject">
        <a data-size="760x420" href="{{ photo.image | attachment_url: 'booking_page' }}" itemprop="contentUrl">
          <img alt="Image description" itemprop="thumbnail" src="{{ photo.image | attachment_url: 'public' }}"/>
        </a>
      </figure>
    {% endfor %}
  </div>
  <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
