<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<div class="container content-zone">
  {{website_data.membership_text}}
</div>
