<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<div class="container">
  {{website_data.terms_and_conditions}}
</div>
